# this is the root of the project; stop searching for config in parents
config.stopBubbling=true

lombok.nonNull.exceptionType=JDK

# annotate generated constructor with @ConstructorProperties, allows Jackson deserialization
lombok.anyConstructor.addConstructorProperties=true

# for @Data and @Value, don't generate private default constructor
lombok.noArgsConstructor.extraPrivate=false

# Ignoring Lombok Code in code coverage
lombok.addLombokGeneratedAnnotation=true
